.sideNav{
    width: 8rem;
    height: 100vh;
    background: #042235;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5), inset -4px 0px 4px rgba(2, 15, 24, 0.569466);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: fixed;
   &-container{
    width: 8rem;
    height: 40rem;
        &--box{
            width: inherit;
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            &:nth-child(3){
                background-color: #2995DA;
            }
        }
   }
   &-footer--box{
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }
}