@font-face {
  font-family: ProximaNovaThin;
  src: url("../src/Font/proximaThin.otf") format("opentype");
}
@font-face {
  font-family: ProximaNova;
  src: url("../src/Font/proxima.otf") format("opentype");
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100%;
  background-color: rgb(242, 244, 248);
  font-family: ProximaNova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
